@font-face {
  font-family: "CeraPro";
  src: url("../assets/fonts/CeraPro/CeraPro-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "CeraPro";
  src: url("../assets/fonts/CeraPro/CeraPro-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "CeraPro";
  src: url("../assets/fonts/CeraPro/CeraPro-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "CeraPro";
  src: url("../assets/fonts/CeraPro/CeraPro-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "CeraPro";
  src: url("../assets/fonts/CeraPro/CeraPro-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "CeraPro";
  src: url("../assets/fonts/CeraPro/CeraPro-Black.ttf");
  font-weight: 700;
}
