@import "../../../theme/variables";
@import "../../../theme/global";

.catalog {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 4rem;
  .catalog_cnt {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    .title {
      text-align: center;
      font-size: 3rem;
      font-weight: 300;
      margin-bottom: 3rem;
    } //title
    .form_search {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;
      .input_cnt {
        width: 30%;
        display: flex;
        flex-flow: column;
        &-label {
          margin-bottom: 0.325rem;
          font-size: 1.2rem;
          font-weight: 500;
        } //label
        &-input {
          border: 0;
          border-bottom: 1px solid map-get($colors, primary);
          background-color: transparent;
          height: 20px;
          padding: 1rem 1rem;
          margin: 0 1rem 0 0;
          text-transform: uppercase;
          &.input--invalid {
            border: 1px solid map-get($colors, error);
            margin-bottom: 0.5rem;
          } //input--invalid
          &:focus {
            outline: none;
          } //:focus
          &::placeholder {
            color: #b3a6ba;
            text-transform: none;
          } //::placeholder
          &:disabled {
            background-color: #b3a6ba;
            cursor: not-allowed;
          } //disabled
        } //input
        .error_text {
          color: map-get($colors, error);
          position: absolute;
          top: 45px;
        } //error_text
      } //input_cnt
      .btn_search {
        width: auto;
        padding: 0.625rem 1rem;
        border-radius: 0.5rem;
        border: 1px solid map-get($colors, primary);
        background-color: map-get($colors, primary);
        color: white;
        font-size: 0.875rem;
        font-weight: 500;
        cursor: pointer;
        transform: scale(1);
        transition: 0.5s ease all;
        &:active {
          transform: scale(0.9);
        } // :active
        &:disabled {
          opacity: 0.5;
        } //:disabled
      } //btn_search
    } //form_search
    .list {
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      align-items: center;
      flex-flow: wrap;
      .list_cnt {
        position: relative;
        top: 0;
        max-width: calc(50% - 2rem);
        width: 100%;
        height: auto;
        padding: 2rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        border: 3px solid map-get($colors, primary);
        border-radius: 6px;
        .image_cnt {
          width: 100%;
          position: relative;
          width: auto;
          margin-right: 2rem;
          padding-right: 2rem;
          border-right: 2px solid map-get($colors, primary);
          &-img {
            width: 266px;
            height: 166px;
          } //img
        } //image_cnt
        .data_cnt {
          width: 100%;
          text-align: justify;
          position: relative;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          padding: 0 1rem;
          flex-flow: column;
          &-text {
            font-size: 1rem;
            font-weight: 500;
            padding-left: 1rem;
            margin-bottom: 1rem;
            color: map-get($colors, primary);
            .item {
              color: black;
              font-weight: 300;
              margin-left: 0.5rem;
            } //item
          } //text
          .btn_cnt {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            margin: 0;
            &-btn_edit {
              width: 80px;
              padding: 0.5rem;
              margin-right: 0.5rem;
              border-radius: 0.325rem;
              border: 1px solid map-get($colors, edit);
              background-color: map-get($colors, edit);
              color: white;
              font-size: 0.825rem;
              font-weight: 500;
              transform: scale(1);
              transition: 0.5s ease all;
              cursor: pointer;
              &:active {
                transform: scale(0.9);
              } // :active
              &:disabled {
                opacity: 0.5;
              } //:disabled
            } //btn_edit
            &-btn_delete {
              @extend .btn_cnt-btn_edit;
              margin-right: 0;
              background-color: map-get($colors, error);
              border: 1px solid map-get($colors, error);
            } //btn_delete
          } //btn_cnt
        } //data_cnt
      } //list_cnt
      .pagination {
        width: 100%;
        display: flex;
      } //pagination
    } //list
    .btn_cnt {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 2rem 0;
      .btn_create {
        width: auto;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        border: 1px solid map-get($colors, primary);
        background-color: map-get($colors, primary);
        color: white;
        font-size: 1.275rem;
        font-weight: 500;
        cursor: pointer;
        transform: scale(1);
        transition: 0.5s ease all;
        &:active {
          transform: scale(0.9);
        } // :active
        &:disabled {
          opacity: 0.5;
        } //:disabled
      } //btn_create
    } //btn_cnt
  } //catalog_cnt
} //catalog
